html, body {
	background: rgb( 54, 54, 54 );
	padding: 0;
	margin: 0;
	color: rgb(200,200,200);
	font-family: Courier, sans-serif;
	font-size: 11px;
	height: 100%;
}
a {
	color: rgb(0,255,255);
	text-decoration: none;
	font-weight: bold;
}
#top_menu {
	position: fixed;
	z-index: 1000;
	top: 0px;
	left: 0px;
	width: 100%;
	display: block;
	background: rgb(0,0,0);
	white-space: nowrap;
	padding-bottom: 4px;
}	
#top_menu ul, #top_menu li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#top_menu h1 {
	font-size: 13px;
	font-weight: bold;
	padding: 0;
	margin: 7px 10px 3px 11px;
}
#top_menu ul {
	margin: 3px 0 0 7px;
}
#top_menu a {
	padding: 4px;
}
#top_menu a:hover {
	background: rgb(0,255,255);
	color: rgb(0,0,0);
}
#top_menu a.inactive {
	color: rgb(150,150,150);
}

#thumbs {
	position: absolute;
	z-index: 1; 
	top: 0px;
	left: 0px;
	width: 100%;
}
.thumb {
	float: left;
	display: block;
	margin: 0;
	padding: 2px;
	height: 500px;
	cursor: pointer;
	overflow: hidden;
}
.thumb .placeholder {
	width: 100px;
	height: 500px;
	background: rgb(0,0,0);
}
.thumb .placeholder,
.thumb img {
	opacity: 0.65;
}
.thumb a, .thumb .stats {
	float: left;
	clear: both;
	position: relative;
	margin-left: 0;
	padding: 3px;
	background: rgb(255,255,255);
	color: rgb(0,0,0);
}
.thumb .original { top: -100px; }
.thumb .processed { top: -76px; }
.thumb .processed { 
	top: -40px;
	background: rgb(50,0,0,0.4);
	color: rgb( 255, 80, 0 );
}
.thumb .processed.pok {
	background: rgb(0,50,0,0.4);
	color: rgb( 80, 255, 0 );
}

.thumb .parts { top: -118px; }
.thumb .stats { top: -94px; }
.thumb .original,
.thumb .parts,
.thumb .stats { visibility: hidden; }
.thumb:hover {
	background: rgb(255,255,255);
}
.thumb:hover .placeholder,
.thumb:hover img {
	opacity: 0.99;
}
.thumb:hover .original,
.thumb:hover .parts,
.thumb:hover .stats { visibility: visible; }
.thumb:hover .processed { 
	top: -76px;
	color: rgb( 255,0,0 );
	background: rgb(255,255,255);
}
.thumb:hover .processed.pok {
	color: rgb( 0, 200,0 );
	background: rgb(255,255,255);
}

#png_wrapper {
	position:fixed;
	z-index: 2;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100vh;
	background: rgba( 54,54,54,0.75 );
	padding: 51px 0 0 0;
	visibility: hidden;/*
	text-align: center;*/
}

#png_wrapper .submenu_link,
#png_close {
	padding: 4px;
	background: rgb( 0,255,255 );
	color: rgb(0,0,0);
	cursor: pointer;
	font-weight: bold;
}
#png_wrapper .submenu_link {
	display: block;
	text-align: right;
}
#png_close {
	position:absolute;
	right: 7px;
}
#png_info {
	position: absolute;
	width: 100%;
	height: 30px;
	text-align: left;
	left: 0px;
	padding: 0 0 0 11px;
}

#png_info .info_field {
	font-weight: bold;
	font-size: 12px;
}

#png_info .info_separator {
	color: rgb(0,255,255);
}

#png_wrapper .submenu_link:hover,
#png_close:hover {
	background: rgb(0,0,0);
	color: rgb( 0,255,255 );
}

#png_wrapper .submenu_link.inactive {
	background: rgb(0,0,0);
	color: rgb(150,150,150);
}
#png_wrapper .submenu_link.disabled {
	background: rgb(0,0,0);
	color: rgb(150,150,150);
	text-decoration: line-through;
}

#png_wrapper .workarea {
	margin: 36px 0 0 0;
}

#png_wrapper .workarea,
#png_list, #txt_source,
#edition_canvas {
	height: calc( 100% - 145px );
}

#png_wrapper .submenu {
	text-align: left;
	position: fixed;
	padding: 0;
	margin: 0 0 0 -72px;
}

#pngs {
	position: relative;
}

#opencvs {
	position: absolute;
	opacity: 0.5;
	visibility: hidden;
}

#png_list {
	position: absolute;
	width: 220px;
	margin: 0 0 7px 79px;
	overflow: auto;
	overflow-x: hidden;
	padding: 0 20px 0 4px;
}
#png_list img {
	clear: both;
	image-rendering: -moz-crisp-edges;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}
#png_list hr {
	position: relative;
	margin: -1px 0 0 -4px;
	padding: 0;
	background: rgb(0,255,255);
	width: 8px;
	border: 1px solid rgb(0,255,255);
	border-bottom: none;
}

#edition_canvas {
	position: absolute;
	width: 220px;
	margin: 0 0 7px 83px;
	background: rgba(0,0,0,0);
}

#opencv_menu,
#render_menu,
#display_ocr_menu {
	margin-top: 4px;
}

#txt_source {
	
	position: absolute;
	margin-left: 482px;
	border: none;
	background: rgb( 255,255,255);
	
	-ms-transform: scale(0.75);
	-moz-transform: scale(0.75);
	-o-transform: scale(0.75);
	-webkit-transform: scale(0.75);
	transform: scale(0.75);

	-ms-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	
}