.fem{
    
    background:#C50536;
}
.masc{
    background:#0B7A75;
}

.neutre{
    background:#3D2B3D;
}

body{
    
    font:'courrier';
    color:#D3F9BD;
    font-size: 16pt;
    margin:50px,20px,10px,10px;
    padding:2px;
}